# Ignore environment variables file
titanic_ml/data/
.env
.venv/
kaggle.json

__pycache__/
*.py[cod]
*.egg-info/
reusable_models.md
test_codes.py
markdown_test.md
.ipynb_checkpoints/
To_do.md
snippet_test_code.py